# * text # - for win oriented gits and local dirs ( if crlf not converted in any way)
# * text eol=lf => like core.autocrlf=input
# * -text => like core.autocrlf=false
* text=auto

*.html text
*.js text
*.css text

*.jpg binary
# binary like -text -merge -diff # cant add a comment line in (after) info line
*.gif -text


# if file not in project dir -> serch it in
#  <project>/.git/info/attributes
#  <project>/a/b/.gitattributes
#  <project>/a/.gitattributes 
# and so on ( up to root of the project )